/* 
    Created on : 01-ago-2019, 14:21:31
    Author     : RVS
*/

body{
  background: linear-gradient(to bottom,#c9e2b3,wheat);
}

div#tabla{
  margin-top: 15px;
  width: 100%;
}

table , thead , tbody , tr , td , th {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  background: linear-gradient(to bottom,#adadad,#5bc0de);
  box-sizing: border-box;
}

table{
  display: table;
  width: 100%;
  margin: 10px auto;
  font-size: 18px;
}

thead {
  display: table-header-group;
  padding: 3%;
}

tbody{
  display: table-row-group;
  width: 50%;
  padding: 3%;
}

tr {
  display: table-row;
}

th {
  display: table-cell;
  text-align: center;
  clear: both;
  padding: 1.9%;
}

td {
  display: table-cell;
  padding: 1.9%;
  background: linear-gradient(to top,#ccc,white);
}

td:hover {
  background: #5bc0de;
}

a{
  text-decoration: none;
}