/* 
    Created on : 06-ago-2019, 20:25:18
    Author     : RVS
*/
*{
  box-sizing: border-box;
}

body{
  background: linear-gradient(to left, #fff , #ccffff, #ccccff);
}

/*agrupacion de selectores*/
h3,h2,h1{
  padding: 0.5%;
}

h3#epigrafe{
  display: inline-block;
  position: relative;
  margin-top: 20px;
  margin-left: 10px;
  text-align: left;
  padding: 5px;
  font-size: 1.2em;
}

h3#epigrafe:hover{
  background: linear-gradient(to left, #fff , #ccffff, #ccccff);
}

h1#titular{
  display: block;
  position: relative;
  height: 20%;
  width: 50%;
  margin: 1% 25px;
  text-align: left;
  font-size: 1.9em;
}

h2#bajada{
  display: inline-block;
  width: 55%;
  padding: 1.5%;
  margin: 10px;
  text-align: justify;
  font-size: 15px;
  font-style: oblique;
  font-weight: lighter;
}

/*selector descendiente*/
div#lead > p#entradilla {
  display: inline-block;
  padding: 1%;
  margin: 1%;
}

main#cuerpo{
  display: inline-block;
  position: relative;
  margin: 10px;
  padding: 1%;
  border-radius: 12px;
} 

div#primeraSeccion{
  padding: 1%;
}

div.division{
  padding: 1%;
}

div + span{
  display: block;
  margin-left: 20px;
  padding: 10px;
  color: red;
  font-weight: bold;
  clear: both;
}

p.parrafos{
  text-align: left;
  width: 100%;
}

/*Caja de la imagen - independiente del resto de elementos */
aside#imagenLateral{
  display: inline-block;
  position: relative;
  margin: 3%;
  width: 300px;
  box-sizing: border-box;
}

/*SubCaja principal */
aside#imagenLateral > div#cajaImagen{
  display: block;
  box-sizing: border-box;
}

div#lead{
}

/*Imagen de la caja */
div#cajaImagen > img#imagenPaisaje{
  display: inline-block;
  width: 100%;
  border-radius: 5px;
  box-sizing: border-box;
}

span#parrafoEncuesta{
  width: 32%;
  margin: 20px;
  padding: 10px;
  text-align: left;
  border-radius: 7px;
  border: 1px solid red;
}
