@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

footer{
  padding: 2% 0;
}

.footer-main{
  background-image: linear-gradient(to bottom,#007b5e,gray);
}

.footer-main h5{
  padding-left: 2%;
  border-left: 3px solid #eeeeee;
  padding-bottom: 1%;
  margin-bottom: 2%;
  color: #ffffff;
}

.footer-main a{
  color: #ffffff;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

.footer-main ul.social li{
  padding: 0.5% 0;
}

.footer-main ul.social li a i {
  margin-right: 1%;
  font-size: 100%;
  -webkit-transition: .5s all ease;
  -moz-transition: .5s all ease;
  transition: .5s all ease;
}

.footer-main ul.social li:hover a i {
  font-size: 200%;
}

.footer-main ul.social li a,
.footer-main ul.quick-links li a{
  color: #ffffff;
}

.footer-main ul.social li a:hover{
  color: #eeeeee;
}

.footer-main ul.quick-links li{
  padding: 2% 0;
  -webkit-transition: .5s all ease;
  -moz-transition: .5s all ease;
  transition: .5s all ease;
}

.footer-main ul.quick-links li:hover{
  width: 100%;
  padding: 2% 0;
  margin-left: 5%;
  font-weight: bolder;
  background-image: linear-gradient(to right,#007b5e,gray);
}

.footer-main ul.quick-links li a i{
  margin-right: 1%;
}

.footer-main ul.quick-links li:hover a i{
  font-weight: bolder;
}

a.footer-enlace{
  margin: 1% auto;
  padding: 1%;
}

a.footer-enlace:hover{
  font-size: 1.3em;
  text-decoration: none;
  background-image: linear-gradient(to right,#007b5e,gray);
}

@media screen and(max-width: 400px){

  footer{
    padding: 2% 0;
  }

  .footer-main{
    background-image: linear-gradient(to bottom,#007b5e,gray);
  }

  .footer-main h5{
    padding-left: 2%;
    border-left: 3px solid #eeeeee;
    padding-bottom: 1%;
    margin-bottom: 2%;
    color: #ffffff;
  }

  .footer-main a{
    color: #ffffff;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
  }

  .footer-main ul.social li{
    padding: 0.5% 0;
  }

  .footer-main ul.social li a i {
    margin-right: 1%;
    font-size: 100%;
    -webkit-transition: .5s all ease;
    -moz-transition: .5s all ease;
    transition: .5s all ease;
  }

  .footer-main ul.social li:hover a i {
    font-size: 200%;
  }

  .footer-main ul.social li a,
  .footer-main ul.quick-links li a{
    color: #ffffff;
  }

  .footer-main ul.social li a:hover{
    color: #eeeeee;
  }

  .footer-main ul.quick-links li{
    padding: 2% 0;
    -webkit-transition: .5s all ease;
    -moz-transition: .5s all ease;
    transition: .5s all ease;
  }

  .footer-main ul.quick-links li:hover{
    width: 100%;
    padding: 2% 0;
    margin-left: 5%;
    font-weight: bolder;
    background-image: linear-gradient(to right,#007b5e,gray);
  }

  .footer-main ul.quick-links li a i{
    margin-right: 1%;
  }

  .footer-main ul.quick-links li:hover a i{
    font-weight: bolder;
  }

  a.footer-enlace{
    margin: 1% auto;
    padding: 1%;
  }

  a.footer-enlace:hover{
    font-size: 1.3em;
    text-decoration: none;
    background-image: linear-gradient(to right,#007b5e,gray);
  }

  .footer-main {
    width: 30%;
  }
}

/*@media screen and(min-width: 401px) and (max-width: 500px){

  .footer-main{
    background-image: linear-gradient(to bottom,#007b5e,gray);
  }

  .footer-main h5{
    padding-left: 2%;
    border-left: 3px solid #eeeeee;
    padding-bottom: 1%;
    margin-bottom: 2%;
    color: #ffffff;
  }

  .footer-main a{
    color: #ffffff;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
  }

  .footer-main ul.social li{
    padding: 0.5% 0;
  }

  .footer-main ul.social li a i {
    margin-right: 1%;
    font-size: 100%;
    -webkit-transition: .5s all ease;
    -moz-transition: .5s all ease;
    transition: .5s all ease;
  }

  .footer-main ul.social li:hover a i {
    font-size: 200%;
  }

  .footer-main ul.social li a,
  .footer-main ul.quick-links li a{
    color: #ffffff;
  }

  .footer-main ul.social li a:hover{
    color: #eeeeee;
  }

  .footer-main ul.quick-links li{
    padding: 2% 0;
    -webkit-transition: .5s all ease;
    -moz-transition: .5s all ease;
    transition: .5s all ease;
  }

  .footer-main ul.quick-links li:hover{
    width: 100%;
    padding: 2% 0;
    margin-left: 5%;
    font-weight: bolder;
    background-image: linear-gradient(to right,#007b5e,gray);
  }

  .footer-main ul.quick-links li a i{
    margin-right: 1%;
  }

  .footer-main ul.quick-links li:hover a i{
    font-weight: bolder;
  }

  a.footer-enlace{
    margin: 1% auto;
    padding: 1%;
  }

  a.footer-enlace:hover{
    font-size: 1.3em;
    text-decoration: none;
    background-image: linear-gradient(to right,#007b5e,gray);
  }

  .footer-main {
    width: 30%;
  }
}*/

@media screen and(min-width: 501px) and (max-width: 766px){

  .aside__row {
    margin: 50% !important;
  }
}

@media screen and(min-width: 501px) and (max-width: 766px){

  .aside__row {
    margin: 50% !important;
  }

}

@media screen and(max-width: 767px){

  .footer-main h5 {
    padding-left: 0;
    border-left: transparent;
    padding-bottom: 0px;
    margin-bottom: 10px;
  }
}

